GROQ_API_KEY=YOUR_GROQ_API_KEY
JIRA_URL=https://ai-automation-pd.atlassian.net/jira/software/projects/KAN/list?jql=project%20%3D%20KAN%20ORDER%20BY%20cf%5B10019%5D%20ASC
JIRA_EMAIL=prriyaldesai+1@gmail.com
JIRA_API_TOKEN=ATATT3xFfGF0n7Q16AZY8FjZjmWz5vG5ROQyndbGSBQSN09og0PWxTnFgwTcqya7nxJNkLhS5WdwB8qjmdGGqYJ7M8MqzkOZyW3hN8Z3JMs_iaO8x1ECKesyX-9h7fiIq5Q3FJsNTZcER3yO_gtn2XnSQxk3PfLY_UktMk2ZUj-___ZOv-p5U8M=C1ED914C
